#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "zmk-helpers/helper.h"
/* #include "zmk-helpers/unicode-chars/german.dtsi" */
#include <behaviors/unicode.dtsi>

#define BASE 0
#define QWERTY 1
#define LOWER 2
#define RAISE 3
#define WASD 4
#define NUMPAD 4
/* #define EXTRA_WASD 5 */
#define CONTRO 5
#define GERMAN 6
/* #define WASD_TYPE 6 */
#define _____ &none


#define KEYS_L 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34 35 36 37
#define KEYS_R 5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 38 39 40 41 42 43
#define THUMBS_L 44 45 46
#define THUMBS_R 47 48 49


//     0  1  2  3  4 |  5  6  7  8  9 
//    10 11 12 13 14 | 15 16 17 18 19
// 20 21 22 23 24 25 | 26 27 28 29 30 31
// 32 33 34 35 36 37 | 38 39 40 41 42 43
//          44 45 46 | 47 48 49 


#define HRML(k1,k2,k3,k4) &ht_gui 0 k1  &ht_alt 0 k2  &qht LSHFT 0 k3  &ht_ctl 0 k4

#define QWERTY_MOD_MACRO(name, mod)            \
name: name##_macro {                           \
	label = #name;                             \
	compatible = "zmk,behavior-macro";         \
	#binding-cells = <0>;                      \
	wait-ms = <0>;                             \
    bindings                                   \
        = <&macro_press &mo QWERTY &kp mod>    \
        , <&macro_pause_for_release>           \
        , <&macro_release &mo QWERTY &kp mod>; \
};

&sk {
    release-after-ms = <2000>;
    quick-release;
    /* /delete-property/ ignore-modifiers; */
};

ZMK_HOLD_TAP(lrep,
    flavor = "balanced";
    tapping-term-ms = <150>;
    quick-tap-ms = <80>;
    require-prior-idle-ms = <200>;
    bindings = <&mo>, <&key_repeat>;
)
 
/ {
    macros {
        QWERTY_MOD_MACRO(qalt, LALT)
        QWERTY_MOD_MACRO(qgui, LGUI)
        QWERTY_MOD_MACRO(qctl, LCTRL)
    };
};

#define HOME_ROW_MOD_TAP(name, macro)      \
name: name##_mod_tap {                     \
    label = #name;                         \
    compatible = "zmk,behavior-hold-tap";  \
    #binding-cells = <2>;                  \
    flavor = "balanced";                   \
    tapping-term-ms = <200>;               \
    quick-tap-ms = <150>;                  \
    global-quick-tap;                      \
    bindings = <macro>, <&kp>;             \
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
};

&uc {
  default-mode = <UC_MODE_LINUX>;  // Default to Linux input system
  minimum-length = <0>;            // Set to desired minimum input length
  linux-key = <LC(LS(U))>;         // Overwrite Linux compose key
  win-compose-key = <RALT>;        // Overwrite WinCompose compose key
};

/ {
    macros {
        cF1: cF1{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp F1>
            , <&macro_release &kp LCTRL>
            ;
        };

        cF2: cF2{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp F2>
            , <&macro_release &kp LCTRL>
            ;
        };

        cF3: cF3{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp F3>
            , <&macro_release &kp LCTRL>
            ;
        };

        cF4: cF4{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp F4>
            , <&macro_release &kp LCTRL>
            ;
        };

        cF5: cF5{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp F5>
            , <&macro_release &kp LCTRL>
            ;
        };

        cF6: cF6{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp F6>
            , <&macro_release &kp LCTRL>
            ;
        };

        cF7: cF7{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp F7>
            , <&macro_release &kp LCTRL>
            ;
        };

        cF8: cF8{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp F8>
            , <&macro_release &kp LCTRL>
            ;
        };

        cF9: cF9{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp F9>
            , <&macro_release &kp LCTRL>
            ;
        };

        cF10: cF10{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp F10>
            , <&macro_release &kp LCTRL>
            ;
        };

        cF11: cF11{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp F11>
            , <&macro_release &kp LCTRL>
            ;
        };

        cF12: cF12{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp F12>
            , <&macro_release &kp LCTRL>
            ;
        };

        zed_em_kay: zed_em_kay {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LSHFT>
            , <&macro_tap &kp Z &kp M &kp K>
            , <&macro_release &kp LSHFT>
            ;
        };

        sukusho: sukusho {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp F10>
            , <&macro_release &kp LCTRL>
            ;
        };

        the: the {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp T &kp H &kp E>
            ;
        };

        parens_: parens_ {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp LPAR &kp RPAR &kp LEFT>
            ;
        };

        brace_: brace_ {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp LBRC &kp RBRC &kp LEFT>
            ;
        };

        bracket_: bracket_ {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp LBKT &kp RBKT &kp LEFT>
            ;
        };

        bracket2_: bracket2_ {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 100>
            , <&macro_tap &kp LBKT &kp RBKT &kp LEFT &kp ENTER &kp UP>
            ;
        };

        /* starr_: starr_ { */
          /* #binding-cells = <0>; */
          /* bindings */
            /* = <&macro_tap_time 1> */
            /* , <&macro_tap &kp STAR &kp STAR &kp LEFT UP> */
            /* ; */
        /* }; */

        quote_: quote_ {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp DQT &kp DQT &kp LEFT>
            ;
        };

        squote_: squote_ {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp SQT &kp SQT &kp LEFT>
            ;
        };

        assign_: assign_ {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp COLON &kp EQUAL &kp SPC>
            ;
        };

        uneq: uneq {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp EXCL &kp EQUAL &kp SPC>
            ;
        };

        https: https {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp H &kp T &kp T &kp P  &kp S &kp COLON &kp FSLH &kp FSLH>
            ;
        };

        qj: qj {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp Q &kp J>
            , <&macro_release &kp LCTRL>
            ;
        };

        you: you {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp Y &kp O &kp U>
            ;
        };

        ing: ing {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp I &kp N &kp G>
            ;
        };

        and_: and_ {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp A &kp N &kp D>
            ;
        };

        hat_: hat_ {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp H &kp A &kp T>
            ;
        };

        thi: thi {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp T &kp H &kp I>
            ;
        };

        th_: th_ {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp T &kp H>
            ;
        };

        in_: in_ {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp I &kp N>
            ;
        };

        be_: be_ {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp B &kp E>
            ;
        };

        ver: ver {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp V &kp E &kp R>
            ;
        };

        home: home {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp TILDE &kp FSLH>
            ;
        };

        questionm: questionm {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp TILDE &kp FSLH>
            ;
        };

        hin: hin {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp H &kp I &kp N>
            ;
        };

        eve: eve {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp E &kp V &kp E>
            ;
        };

        for_: for_ {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_tap &kp F &kp O &kp R>
            ;
        };

        cuter: cuter{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp X>
            , <&macro_release &kp LCTRL>
            ;
        };

        aller: aller{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp A &kp C>
            , <&macro_release &kp LCTRL>
            ;
        };

        deler: deler{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp BSPC>
            , <&macro_release &kp LCTRL>
            ;
        };

        allcuter: allcuter{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp A &kp X>
            , <&macro_release &kp LCTRL>
            ;
        };

        paster2: paster2{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp V>
            , <&macro_release &kp LCTRL>
            , <&macro_tap &kp ENTER>
            ;
        };

        paster: paster{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp V>
            , <&macro_release &kp LCTRL>
            ;
        };

        copyer: copyer{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp C>
            , <&macro_release &kp LCTRL>
            ;
        };

        allcopyer: allcopyer{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp A &kp C>
            , <&macro_release &kp LCTRL>
            ;
        };

        cutter: cutter{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp X>
            , <&macro_release &kp LCTRL>
            ;
        };

        searcher: searcher{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp F>
            , <&macro_release &kp LCTRL>
            ;
        };

        closer: closer{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp W>
            , <&macro_release &kp LCTRL>
            ;
        };

        lefter: lefter{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp PG_UP>
            , <&macro_release &kp LCTRL>
            ;
        };

        righter: righter{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL>
            , <&macro_tap &kp PG_DN>
            , <&macro_release &kp LCTRL>
            ;
        };

      /*  C-S-t */
        restorer: restorer{
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
            = <&macro_tap_time 1>
            , <&macro_press &kp LCTRL &kp LSHFT>
            , <&macro_tap &kp T>
            , <&macro_release &kp LCTRL &kp LSHFT>
            ;
        };

        /* #include "steno.combo" */

    };

    behaviors {
        HOME_ROW_MOD_TAP(ht_alt, &qalt)
        HOME_ROW_MOD_TAP(ht_gui, &qgui)
        HOME_ROW_MOD_TAP(ht_ctl, &qctl)

        altcopy: alt_copy {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&lt RAISE ESC>, <&copyer>;
            mods = <(MOD_LALT)>;
        };

        altpaste: alt_paste {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LSHFT>, <&paster>;
            mods = <(MOD_LALT)>;
        };

        hl: home_row_hold_tap_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;                // repeat on tap-into-hold
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS_R>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        hr: home_row_hold_tap_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;                // repeat on tap-into-hold
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS_L>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        td_rst: reset_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sys_reset>, <&bootloader>;
        };

        lm: lm {
            compatible = "zmk,behavior-macro-two-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <2>;
            bindings
              = <&macro_param_1to1>
              , <&macro_press &mo MACRO_PLACEHOLDER>
              , <&macro_param_2to1>
              , <&macro_press &kp MACRO_PLACEHOLDER>
              , <&macro_pause_for_release>
              , <&macro_param_2to1>
              , <&macro_release &kp MACRO_PLACEHOLDER>
              , <&macro_param_1to1>
              , <&macro_release &mo MACRO_PLACEHOLDER>
              ;
          };
    };

    combos {
        compatible = "zmk,combos";
        combo_home {
            timeout-ms = <66>;
            key-positions = <39 40>;
            bindings = <&home>;
        };
        // TODO find usecase for these positions
        /* combo_lowerleft { */
        /*     timeout-ms = <66>; */
        /*     key-positions = <24 25>; */
        /*     bindings = <&sk LSHIFT>; */
        /* }; */
        /* combo_lowerright { */
        /*     timeout-ms = <66>; */
        /*     key-positions = <26 27>; */
        /*     bindings = <&sk RSHIFT>; */
        /* }; */ 

        combo_lowerleft {
            timeout-ms = <66>;
            key-positions = <23 24 44>;
            bindings = <&sk LSHIFT>;
        };
        combo_lowerright {
            timeout-ms = <66>;
            key-positions = <27 28 49>;
            bindings = <&sk RSHIFT>;
        };

        combo_question {
            timeout-ms = <66>;
            key-positions = <40 41>;
            bindings = <&kp QMARK>;
        };
        combo_voldn {
            timeout-ms = <66>;
            key-positions = <32 33>;
            bindings = <&kp C_VOL_DN>;
        };
        combo_volup {
            timeout-ms = <66>;
            key-positions = <33 34>;
            bindings = <&kp C_VOL_UP>;
        };
        // combo_uscore {
        //     timeout-ms = <66>;
        //     key-positions = <10 11>;
        //     bindings = <&kp UNDER>;
        // };
        combo_copy {
            timeout-ms = <66>;
            key-positions = <20 23>;
            bindings = <&copyer>;
        };

        combo_copy2 {
            timeout-ms = <66>;
            key-positions = <36 37>;
            bindings = <&copyer>;
        };

        combo_pastee {
            timeout-ms = <66>;
            key-positions = <20 33>;
            bindings = <&paster>;
        };
        combo_tabber {
            timeout-ms = <66>;
            key-positions = <20 24>;
            bindings = <&kp TAB>;
        };
        // combo_paster2 {
        //     timeout-ms = <66>;
        //     key-positions = <20 33>;
        //     bindings = <&paster2>;
        // };
        
        /* combo_left_shift { */
        /*   timeout-ms = <66>; */
        /*   key-positions = <24 37>; */
        /*   bindings = <&copyer>; */
        /* }; */

        /* combo_right_shift { */
        /*   timeout-ms = <66>; */
        /*   key-positions = <27 38>; */
        /*   bindings = <&kp LC(BSPC)>; */
        /* }; */

        combo_dir_left {
          timeout-ms = <66>;
          key-positions = <24 37>;
          bindings = <&kp LEFT>;
        };

        combo_dir_right {
          timeout-ms = <66>;
          key-positions = <27 38>;
          bindings = <&kp RIGHT>;
        };

        combo_dir_up {
          timeout-ms = <66>;
          key-positions = <16 26>;
          bindings = <&kp UP>;
        };

        combo_dir_down {
          timeout-ms = <66>;
          key-positions = <13 25>;
          bindings = <&kp DOWN>;
        };

        combo_dir_shift_alt {
          timeout-ms = <66>;
          key-positions = <13 14>;
          bindings = <&kp LS(LALT)>;
        };

        combo_dir_german {
          timeout-ms = <66>;
          key-positions = <38 39>;
          bindings = <&sl GERMAN>;
        };

        combo_QWERTY {
          timeout-ms = <66>;
          key-positions = <42 43>;
          layers = <BASE>;
          bindings = <&to QWERTY>;
        };

        combo_BASE {
          timeout-ms = <66>;
          key-positions = <42 43>;
          layers = <QWERTY>;
          bindings = <&to BASE>;
        };

        combo_searcher {
          timeout-ms = <66>;
          key-positions = <13 20>;
          bindings = <&searcher>;
        };
        combo_minus {
            timeout-ms = <66>;
            key-positions = <28 29 49>;
            bindings = <&kp MINUS>;
        };
        combo_contro2 {
            timeout-ms = <66>;
            key-positions = <10 11>;
            bindings = <&sl CONTRO>;
        };
        combo_parens {
            timeout-ms = <66>;
            key-positions = <23 24 49>;
            bindings = <&parens_>;
        };
        combo_brace {
            timeout-ms = <66>;
            key-positions = <12 13 49>;
            bindings = <&brace_>;
        };
        combo_bracket {
            timeout-ms = <66>;
            key-positions = <35 36 49>;
            bindings = <&bracket_>;
        };
        combo_bracketer {
            timeout-ms = <66>;
            key-positions = <35 36 44>;
            bindings = <&bracket2_>; //TODO why
        };
        combo_quote {
            timeout-ms = <66>;
            key-positions = <21 22 49>;
            bindings = <&quote_>;
        };
        combo_squote {
            timeout-ms = <66>;
            key-positions = <22 23 49>;
            bindings = <&squote_>;
        };

        combo_squotee {
            timeout-ms = <66>;
            key-positions = <18 19>;
            bindings = <&kp F6>;
        };

        combo_assign {
            timeout-ms = <66>;
            key-positions = <10 11 49>;
            bindings = <&assign_>;
        };

        combo_uneq {
            timeout-ms = <66>;
            key-positions = <11 12 49>;
            bindings = <&uneq>;
        };

        /* #include "steno.macro" */

    };

keymap {
        compatible = "zmk,keymap";

        graphite_layer {
            display-name = "main";
// ------------------------------------------------------------------------------------------------------------
//         |   1   |   2   |    3    |   4    |   5   |              |  6  |   7    |    8    |   9   |   0   |       
//         |   W   |   L   |    Y    |   P    |   K   |              |  Z  |   X    |    O    |   U   |  TODO |        
//(todo,hr)  TODO?                                                                                      //TODO!
//TAB|       ALT/N | GUI/R | SHIFT/T | CTRL/S |   B   |              |  Y  | CTRL/N | SHIFT/E | GUI/I | ALT/A | ENTER |
// |  layer|   J   |   V   |    D    |   G    |   Q   |              |  M  |   H    |    .    |   ,   |   /   | layer |
//                                   | ALT  | RAISE | ESC |  | TODO |SPACE | LOWER  | 
//&hr RCTRL N &hr RSHFT E &hr RGUI I
            bindings = <
              &kp N1      &kp N2     &kp N3      &kp N4      &kp N5                      &kp N6    &kp N7      &kp N8      &kp N9   &kp N0
              &kp W       &kp L      &kp Y       &kp P       &kp K                       &kp Z     &kp F       &kp O       &kp U    &kp SEMI
&lt RAISE ESC &hl LSHFT C &kp R      &kp S       &ht_ctl 0 T &kp M                       &kp X     &kp N       &kp E       &kp I    &hr RSHFT A  &kp BSPC 
&kp LSHFT     &kp J       &kp V      &kp G       &kp D       &kp B                       &kp Q     &kp H       &kp COMMA   &kp DOT  &kp FSLH     &kp RSHFT
                          &ht_alt 0 ENTER  &lt NUMPAD SPACE  &paster2                    &caps_word &sl LOWER  &kp SPACE 
            >;
        };

        qwerty_layer {
            display-name = "qwerty";
// ------------------------------------------------------------------------------------------------------------
//         |   1   |   2   |    3    |   4    |   5   |              |  6  |   7    |    8    |   9   |   0   |       
//         |   Q   |   W   |    E    |   R    |   T   |              |  Y  |   U    |    I    |   O   |   P   |        
// |  TAB  | ALT/A | GUI/S | SHIFT/D | CTRL/F |   G   |              |  H  | CTRL/J | SHIFT/K | GUI/L | ALT/; | ENTER |
// |   \   |   Z   |   X   |    C    |   V    |   B   |              |  N  |   M    |    ,    |   .   |   /   |   '   |
//                                   | LOWER  | SPACE | ESC |  | DEL |BACK | RAISE  | 
            bindings = <
              &kp N1     &kp N2        &kp N3      &kp N4      &kp N5                      &kp N6    &kp N7      &kp N8      &kp N9     &kp N0
              &kp Q      &kp W         &kp E       &kp R       &kp T                       &kp Y     &kp U       &kp I       &kp O      &kp P
&lt RAISE ESC &hl LSHFT A &kp S        &kp D       &hl LCTRL F &kp G                       &kp H     &kp J       &kp K       &kp L      &hr RSHFT SEMI &kp BSPC
&kp LSHFT     &kp Z       &kp X        &kp C       &kp V       &kp B                       &kp N     &kp M       &kp COMMA   &kp DOT    &kp FSLH       &kp RSHFT
                         &ht_alt 0 ENTER  &lt NUMPAD SPACE     &paster2                    &caps_word &sl LOWER  &kp SPACE 
            >;
        };

        lower_layer {
            display-name = "lower";
// ------------------------------------------------------------------------------------------------------------
// |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |       |
// |       |  _  |  =  |  {   |  }   |  T   |                   |  T   |  ^    |  +    |  $   |   *   |       |
// |   Tab |  "  |  '  |  (   |  )   |  T   |                   |  @   |  !    |  -    |  ?   |   :   |  F11
// |   `   |  |  |  &  |  [   |  ]   |  #   |                   |  \   |  /    |  ~    |   %  |   ;   |  F12
//               |     |      |      |      |        |  |       |      |       |       |      |
            bindings = <
         &kp F3        &kp F4      &kp F5         &kp F6         &kp F7                  &kp F8    &kp F9         &kp F10          &kp F11       &kp F12   
         &kp UNDER     &kp EQUAL   &kp LBRC       &kp RBRC        &kp GT                 &kp BSLH   &kp CARET      &kp PLUS        &kp DLLR     &kp PRCNT
&uc UC_DE_SS &hl LALT DQT &hl LGUI SQT &hl LSHFT LPAR &hl LCTRL RPAR  &kp LT          &kp AT    &hr RCTRL EXCL &hr RSHFT MINUS &hr RGUI STAR &hr RALT COLON &kp BSPC
&kp BSLH &kp PIPE     &kp AMPS      &kp LBKT      &kp RBKT        &kp GT               &kp GRAVE &kp HASH       &kp TILDE       &kp PRCNT   &kp SEMI     _____
                                                  &kp BSLH      &kp PRCNT &uc UC_DE_OE &uc UC_DE_AE &uc UC_DE_SS &uc UC_DE_OE     
            >;
        };

        raise_layer {
            display-name = "raise";
// ------------------------------------------------------------------------------------------------------------
//         | MUTE | VOL+   |  VOL-   | BRI+        |  BRI-  |                |  BT 0 | BT 1 |  BT 2 | BT 3 | BT 4     | 
//         | PREV | REWIND | PAUSE   | FASTFORWARD |  NEXT  |                | PGUP  | HOME |   ^   | END  | BT CLEAR |       
// | reset | CAPS | INS    | PRNTSCR | MENU        | studio |                | PGDN  |   <- |   v   |  ->  |  off     | reset |
// |       |      |        | QWERTY  | WASD        |  boot  |                | boot  |      |       |      |  POWER   | reset |
//                                   |             |        |      |  |      |       |      |
            bindings = <
          &kp C_MUTE &kp C_VOL_UP &kp C_VOL_DN &kp C_BRI_UP &bootloader           &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                 
          &copyer    &paster       &deler     &searcher       _____                     &kp PG_UP   &copyer      &kp UP       &kp INS      &paster
&trans    &aller     &copyer       &copyer    &kp TAB   &kp C_VOL_UP               &kp PG_UP    &kp LEFT    &kp DOWN     &kp RIGHT    &trans  &trans
&trans    &allcuter  &copyer       &paster    &allcuter   &kp C_VOL_DN                 &kp PG_DN    &kp HOME   &trans      &kp END     _____   &trans
                                            &kp ENTER  &allcuter &trans           &trans       &kp TAB     &kp ENTER
            >;
        };
      

        numpad_layer {
            display-name = "numpad";
// ------------------------------------------------------------------------------------------------------------
//         | MUTE | VOL+   |  VOL-   | BRI+        |  BRI-  |                |  BT 0 | BT 1 |  BT 2 | BT 3 | BT 4     | 
//         | PREV | REWIND | PAUSE   | FASTFORWARD |  NEXT  |                | PGUP  | HOME |   ^   | END  | BT CLEAR |       
// | reset | CAPS | INS    | PRNTSCR | MENU        | studio |                | PGDN  |   <- |   v   |  ->  |  off     | reset |
// |       |      |        |         | QWERTY      |  boot  |                | boot  |      |       |      |  POWER   | reset |
//                                   |             |        |      |  |      |       |      |
            bindings = <
          &kp N1     &kp N2   &kp N3   &kp N4    &kp N5                            &none  &none  &none  &none  &none 
          &cF1       &cF2     &cF3     &cF4      &cF5                               &cF6       &cF7     &cF8     &cF9    &cF10
&cF11     &kp N1     &kp N2   &kp N3   &kp N4    &kp N5                             &kp N6     &kp N7   &kp N8   &kp N9  &kp N0 &kp BSPC
&cF12     &kp F1     &kp F2   &kp F3   &kp F4    &kp F5                             &kp F6     &kp F7   &kp F8   &kp F9  &kp F10 &uc UC_DE_SS 
                                       _____     &kp SPACE &kp LALT   _____  &kp F11 &kp F12
            >;
        };

        main2_layer {
            display-name = "contro";
            bindings = <
          &trans     &trans   &trans   &kp Y    &kp H                  &trans    &trans  &trans  &trans  &trans  
          &trans     &trans   &trans   &trans   &kp T                  &trans    &uc UC_DE_OE &restorer &uc UC_DE_UE &trans  
&kp LALT  &trans     &trans   &trans   &trans   &kp G                  &trans    &lefter  &closer  &righter  &uc UC_DE_AE   &trans  
&trans    &trans     &trans   &trans   &trans   &kp B                  &trans    &trans  &trans  &trans  &trans   &trans  
                                       &trans   &trans  &trans  &trans &trans    &uc UC_DE_SS
            >;
        };
        wasd_type_layer {
            display-name = "german";
// ---------------------------------------------------
//         |      |       |     |   Y  |  H   |     
//         |      |       |     |      |  T   |           
// |  ALT  |      |       |     |      |  G   |  
// |       |      |       |     |      |  B   |  
//                              |      |      |        |     
            bindings = <
          &trans     &trans   &trans   &trans   &trans                 &trans    &trans  &trans  &trans  &trans  
          &trans     &trans   &trans   &trans   &trans                 _____     _____   _____ _____ _____   
&trans    &https     &https   &qj      &https   &trans                 _____ &https _____ _____ _____ _____  
&trans    &trans     &trans   &trans   &trans   &trans                 _____    _____  _____  _____  _____                        &trans  
                                       &trans   &trans  &trans  _____ &trans    &uc UC_DE_SS
            >;
        };

        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };

        extra3 {
            status = "reserved";
        };

        extra4 {
            status = "reserved";
        };

        extra5 {
            status = "reserved";
        };
    };
};
